@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* Pagina piano stampabile */
@media print {
  header,
  .print\:hidden {
    display: none !important;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  main {
    max-width: 100% !important;
  }
}
